body{
    font-family: Helvetica, Arial, sans-serif;
    background-color: black;
    opacity: 0.9;
}

p, h1, h2, h3, h4, h5{
    color: seashell;
}

header{
    height: 69px;
    border-bottom: 1px solid seashell;
    display: flex;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

header img{
    height: 50px;
    margin-left: 10px;
}

header ul{
    display: flex;
    list-style: none;
}

header a{
    color: seashell;
    font-size: 22px;
    margin: 10px;
}

.banner{
    height: 700px;
    width: 1200px;
    background-image: url('media/img-mission-background.jpg');
    margin-top: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mission{
    background-color: black;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-around
    align-items: center;
    height: 200px;
}

.contact h2, .contact h5{
    text-align: center;
}

footer{
    display: flex;
    align-items: flex-start;
}

footer p{
    font-weight: bold;
    margin-left: 20px;
}